- if current_user == nil
  %h1 Users
- else
  %h1
    Welcome, 
    = current_user.name
    !

  %h2 Other Users

%table
  %thead.users
    %th.users Name
    %th.users About
    %th.users Friends?
  %tbody
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.bio
      - if 
        %td Friends


        if current_user.friendship.user.id