- if current_user == nil
  %h1 Users
- else
  %h1
    Welcome, 
    = current_user.name
    !

  %h2 Other Users

%table
  %thead.users
    %th.users Name
    %th.users About
    - if current_user != nil
      %th.users Friends?
  %tbody
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.bio
      - if current_user != nil
        - if current_user.friendships.find_by_friend_id(user.id)
          %td Already Friends!
        - elsif user.id != current_user.id
          %td= button_to "Add As Friend!", user_friendships_path(:user_id => current_user.id, :friend_id => user.id) 