%h1 Users

%table
  %thead.users
    %th.users Name
    %th.users About
    %th.users Friends?
  %tbody
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.bio
      %td Friends