/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

main {
	background: image-url('background.jpg');
	background-size: cover;
}

nav.top-bar {
	background-color: #6ca087;
}

input.button {
	background-color: #8baa86;
}

form {
	width: 33%;
}

.weighin {
	width: 33%;
}

.users {
	background-color: #8baa86;
	color: white;
}

a {
	text-decoration: none;
}

img {
	border-radius: 20px;
}