/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
//************HomePage******************************//
.bg {
  background: url(hawaii.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 50%;
}

li a {
	text-decoration: none;
}

.hmpg.signed-in {
	-webkit-box-shadow: 5px 5px 3px 3px #000000;
	box-shadow: 5px 5px 3px 3px #000000;
	text-decoration: none;
}

.hmpg.signed-out {

}






@import url(http://fonts.googleapis.com/css?family=Ubuntu);

main {
	background: image-url('background.jpg');
	background-size: cover;
}

nav.top-bar {
	background-color: #6ca087;
}

input.button {
	background-color: #8baa86;
}

form {
	width: 70%;
}

.button {
	border-radius: 10px;
}

.weighin {
	width: 70%;
}

.users {
	background-color: #8baa86;
	color: white;
}

a {
	text-decoration: none;
}

img {
	border-radius: 20px;
}

.small {
	font-size: .75em;
}

.comment {
	width: 100%;
}

.friends {
	width: 25%;
	float: right;
	padding: 10px;

}

.user {
	border-bottom: 1px solid black;
}

.weighin {
	background-color: white;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 10px;
	margin-top: 20px;
}